<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymleaf.org/">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="./ccs/errorstyles.css">
</head>
<main>
	<div class="col-md-6 align-self-center">
		<h1 th:text="${message}">404</h1>
		<h5 th:text=${timestamp}></h5>

		<br>
		<p>Aber du kannst hier klicken, um wieder auf die Startseite zu
			kommen.</p>
		<form method="get" action="dashboard">
			<button class="btn" type="submit">Start</button>
		</form>
	</div>
</main>
</html>