<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymleaf.org/">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="./ccs/errorstyles.css">
</head>
<main>
	<div class="col-md-6 align-self-center">
		<h1 th:text="${status +' '+ error}">404</h1>
		<h2 th:if="${status == 404}">OH NO! You're lost.</h2>
		<h2 th:unless="${status == 404}">Something went terribly wrong</h2>
		<p th:if="${status == 404}">The page you are looking for does not
			exist. How you got here is a mystery.</p>

		<p>But you can click the button below to go back to the homepage.</p>
		<br>
		<form method="get" action="dashboard">
			<button class="btn" type="submit">HOME</button>
		</form>
	</div>
</main>
</html>